html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
	--GRID_SIZE:20;
  }

  body {
	  background-image: url('./david-clode-QZePScKPb2Q-unsplash.jpg');
	  z-index: -1;
	  background-size: cover;
	  font-family: "Big Shoulders Stencil Display";
  }

.gameBoard {
	display: grid;
	grid-template-rows: repeat(var(--GRID_SIZE), 1fr);
	grid-template-columns: repeat(var(--GRID_SIZE), 1fr);
	width: 80vh;
	height: 80vh;
	margin: auto;
	margin-top: 10vh;
	position: relative;
	border: 1px solid black;
	background-color: white;
}

.snakeHead {
	position: absolute;
	height: calc(80vh / var(--GRID_SIZE));
	width: calc(80vh / var(--GRID_SIZE));
	background-color: red;
	z-index: 1;
}

.snakeHead2 {
	position: absolute;
	height: calc(80vh / var(--GRID_SIZE));
	width: calc(80vh / var(--GRID_SIZE));
	background-color: grey;
	z-index: 1;
}

.food {
	position: absolute;
	height: calc(80vh / var(--GRID_SIZE));
	width: calc(80vh / var(--GRID_SIZE));
	background-image: url('./apple.jpeg');
	background-size: cover;
	z-index: 0;
}

.options {
	width: 80vh;
	height: 80vh;
	position: absolute;
	z-index: 10;
	background-color: white;
	top: 0;
	left: 0;
	border: 1px solid black;
}

.container {
	position: relative;
	height: 80vh;
	width: 80vh;
	margin: auto;
}

.heading {
	font-size: 8vh;
	text-align: center;
	font-weight: 500;
	padding-bottom: 5vh;
}

.flex {
	display: flex;
	justify-content: space-around;
}

.button {
	background-color: lightgrey;
	font-size: 5vh;
	font-family: "Big Shoulders Stencil Display";
	margin-bottom: 8vh;
	cursor: pointer;
	padding: 6px 18px;
}

.selected {
	background-color: yellow;
}

.start {
	margin-top: 5vh;
	font-size: 7vh;
	font-weight: 600;
}

.start:hover {
	color: white;
	background-color: green;
}

.scores {
	position: fixed;
	left: 10vh;
	top: 10vh;
	width: 200px;
	font-size: 70px;
	color: white;
	text-align: center;
	z-index: 10;
	font-weight: 800;
	margin-bottom: 4vh;
}

.pl {
	font-weight: 600;
	font-size: 50px;
}

.instructions {
	position: fixed;
	margin: auto;
	width: calc(80vh - 12px);
	height: calc(80vh - 12px);
	top: 10vh;
	z-index: 5;
	background-color: brown;
	color: white;
	border: 1px solid black;
	font-size: 24px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	padding: 6px;
}

.instructionButton {
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: "Big Shoulders Stencil Display";
	background-color: green;
	color: white;
	font-size: 22px;
	font-weight: 500;
	cursor: pointer;
}

.bigger {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 4vh;
	text-decoration: underline;
}

.musicOn {
	background-image: url('./soundOn.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 40px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.musicOff {
	background-image: url('./soundOff.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 45px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
}