html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
	--GRID_SIZE:20;
  }

  body {
	  background-image: url('./david-clode-QZePScKPb2Q-unsplash.jpg');
	  z-index: -1;
  }

.gameBoard {
	display: grid;
	grid-template-rows: repeat(var(--GRID_SIZE), 1fr);
	grid-template-columns: repeat(var(--GRID_SIZE), 1fr);
	width: 80vh;
	height: 80vh;
	margin: auto;
	margin-top: 10vh;
	position: relative;
	border: 1px solid black;
	background-color: white;
}

.snakeHead {
	position: absolute;
	height: calc(80vh / var(--GRID_SIZE));
	width: calc(80vh / var(--GRID_SIZE));
	background-color: red;
	z-index: 1;
}

.snakeHead2 {
	position: absolute;
	height: calc(80vh / var(--GRID_SIZE));
	width: calc(80vh / var(--GRID_SIZE));
	background-color: grey;
	z-index: 1;
}

.food {
	position: absolute;
	height: calc(80vh / var(--GRID_SIZE));
	width: calc(80vh / var(--GRID_SIZE));
	background-image: url('./apple.jpeg');
	background-size: cover;
	z-index: 0;
}